/**
* Variables
*
* @package Minima-WP
*/

$core-unit       : clamp(12px, calc(.8rem + .25vw), 20px); //defines 1rem

$br-sizes: (
  sm: 2px,
  md: 4px,
  lg: 8px,
);

$theme-colors: (
  primary        : #09493a,
  secondary      : #3ed78e,
  contrast       : #EBBA84,
  black          : #050505,
  white          : #fdfeff,
  gray           : #9ca3af,
);

$breakpoints: (
  sm: 0px,
  md: 546px,
  lg: 1200px,
);

/* Margin sizes for utilities */
$m-sizes: (
  m-xs   : .5rem,
  m-sm   : .75rem,
  m-md   : 1rem,
  m-lg   : 1.5rem,
  m-xl   : 2rem,
);

/* Padding sizes for utilities */
$p-sizes: (
  p-xs   : .5rem,
  p-sm   : .75rem,
  p-md   : 1rem,
  p-lg   : 1.5rem,
  p-xl   : 2rem,
);



:root {
        /*
        ############################################
                Core
                -------
                clr = color
                fs  = font-style
                ff  = font-family
                fw  = font-weight
        ############################################
        */

        /* colors */
        @each $name, $value in $theme-colors { //creates core color from the map
                --core-clr-#{$name} : #{$value};
        }

        /* fonts */
        --core-fs : clamp(12px, calc(.8rem + .25vw), 20px);

        --core-ff : -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

        --core-fw-thin  : 100; 
        --core-fw-light : 300;
        --core-fw-regular   : 400;
        --core-fw-bold  : 600;
        --core-fw-bolder: 800;

        --core-letterspacing: normal;


        /* spacing */
        --core-spacing          : 1rem;
        --core-spacing-vertical : var(--core-spacing);
        --core-spacing-horizontal: var(--core-spacing);
        --core-lineheight       : 1.5;

        /*
        ############################################
                Base
        ############################################
        */
        /* Typography */
        --base-ff-para  : var(--core-ff);
        --base-fs-para  : var(--core-fs);
        --base-fw-para  : var(--core-fw-regular);
        --base-mt-para  : calc(1.5 * var(--core-spacing));
        --base-mb-para  : var(--core-spacing);
        --base-lh-para  : var(--core-lineheight);

        --base-ff-heading : var(--core-ff);
        --base-fst-heading: normal;
        --base-fw-heading : var(--core-fw-bold);
        --base-mt-heading : calc(1.7 * var(--core-spacing));
        --base-mb-heading : var(--core-spacing);
        --base-lh-heading : var(--core-lineheight);
        --base-clr-heading: var(--clr-primary);

        --base-fs-h1 : calc(2.25 * var(--core-fs));
        --base-fs-h2 : calc(2 * var(--core-fs));
        --base-fs-h3 : calc(1.75 * var(--core-fs));
        --base-fs-h4 : calc(1.5 * var(--core-fs));
        --base-fs-h5 : calc(1.25 * var(--core-fs));
        --base-fs-h6 : var(--core-fs);

        /* link */
        --base-clr-link         : var(--core-clr-primary);
        --base-clr-link-hover   : var(--core-clr-secondary);
        --base-clr-link-active  : var(--core-clr-contrast);
        --base-clr-link-visited : var(--core-clr-gray);

        --base-fw-link : var(--core-fw-regular);
        --base-fst-link: normal;

        --base-td-link          : underline;
        --base-td-link-hover    : none;
        --base-td-link-active   : underline;
        --base-td-link-visited  : underline;


        /* forms */
        --base-ff-label         : var(--core-ff);
        --base-fs-label         : var(--core-fs);
        --base-cursor-label     : default;

        --base-ff-input         : var(--core-ff);
        --base-fs-input         : var(--core-fs);
        --base-p-input          : var(--core-spacing);
        --base-clr-bg-input     : transparent;
        --base-clr-input-text        : set-text-color(var(--base-clr-bg-input));
        --base-clr-border-input : var(--core-clr-gray); 
        --base-lh-input         : var(--core-lineheight);
        --base-td-input         : none;

        --base-bs-input-readonly    : dotted; //bs:border-style
        --base-cursor-input-readonly: not-allowed;
        --base-clr-input-readonly   : var(--core-clr-gray);

        --base-p-select                 : var(--core-spacing);
        --base-cursor-select            : pointer;
        --base-clr-border-select        : var(--core-clr-gray);
        --base-clr-border-select-hover  : var(--core-clr-black);

        --base-cursor-input-btn                 : pointer;
        --base-clr-border-input-btn             : var(--core-clr-gray);
        --base-clr-border-input-btn-hover       : var(--core-clr-black);

        --base-clr-border-input-text            : var(--core-clr-gray);
        --base-clr-border-input-text-hover      : var(--core-clr-black);

        /*
        ############################################
                Utilities
        ############################################
        */
        /* links */
        --clr-btn-text-dark : var(--core-clr-black);
        --clr-btn-text-light: var(--core-clr-white);

        /*
        ############################################
                Layout
        ############################################
        */
        /*
        ############################################
                Components
        ############################################
        */
        /* breadcrumb*/

        --breadcrumb-width: 100%;
        --breadcrumb-height: 5rem;
        --breadcrumb-bg    : var(--core-clr-gray);
        --breadcrumb-align-vert: center;
        --breadcrumb-align-hori: center;

        --breadcrumb-link-td : none;
        --breadcrumb-link-fw : var(--core-fw-regular);
        --breadcrumb-link-fst: normal;

        --breadcrumb-link-after-m-l: calc(.5 * var(--core-spacing-horizontal));
        --breadcrumb-link-after-m-r: calc(.5 * var(--core-spacing-horizontal));
        --breadcrumb-link-after-clr: var(--core-clr-black);

        --breadcrumb-span-current-clr: var(--core-clr-gray);


        /*
        ############################################
                Blocks
        ############################################
        */
 

}
