/**
* Bundle all styles
==============================================================
*/

@import '01-abstracts/mixins';
@import '01-abstracts/variables';

@import '02-base/normalize';
@import '02-base/reset';
@import '02-base/layout';
@import '02-base/typography';

body {
    color: $black;
}

a {
    color: $primary-dark;

    &:hover {
        color: $secondary;
    }
}

.header {
    background-color: $primary;
    a {
        color: $white;
        &:hover {
            color: $secondary;
        }
    }
}

.footer {
    background: $contrast;
    color: $black;
}

