/**
* Barebone base style for forms
*
* @package Minima-WP
*/

//label

label {
    font-family : var(--base-ff-label);
    cursor      : var(--base-cursor-label);
    font-size   : var(--base-fs-label);
}

//input
input {
    @include btn-reset;
}

input[readonly] {
    border-style: var(--base-bs-input-readonly);
    cursor      : var(--base-cursor-input-readonly);
    color       : var(--base-clr-input-readonly);
}


input[type=button], input[type=submit], input[type=reset] {
    cursor          : var(--base-cursor-input-btn);
    @include border($color: var(--base-clr-border-input-btn));
}

input[type=text], input[type=password] {
    text-align: left;
    
    &:hover {
        @include border($color: var(--base-clr-border-input-text));
    }
    
    &:focus {
        @include border($color: var(--base-clr-border-input-text-hover));
    }
}

select {
    @include btn-reset;
}
//checkbox

//radio-button