/**
* Barebone base style for links
*
* @package Minima-WP
*/

a {
    cursor               : pointer;
    color                : var(--base-clr-link);
    text-decoration      : var(--base-td-link);
    text-underline-offset: 3px;
    text-decoration-skip-ink: all;

    &:hover {
        color           : var(--base-clr-link-hover);
        text-decoration : var(--base-td-link-hover);
        text-decoration-skip-ink: none;
    }
    &:active {
        color           : var(--base-clr-link-active);
        text-decoration : var(--base-td-link-active);
    }
    // &:visited {
    //     color           : var(--base-clr-link-visited);
    //     text-decoration : var(--base-td-link-visited);
    // }

}