.btn {
    @include btn-reset;
}

.btn-fluid {
    @include btn('fluid');
}
.btn-rounded {
    @include btn('rounded');
}

@each $name, $value in $theme-colors {
    .btn-#{$name} {
        $text-clr: set-text-color($value);
        outline: var(--clr-#{$name}) solid .1rem;
        --btn-bg-clr: var(--clr-#{$name});
        --btn-text-clr: #{$text-clr};
        &:hover {
            $bg-clr: btn-hover-bg($value);
            $text-clr: set-text-color($bg-clr);
            --btn-bg-clr: #{$bg-clr};
            --btn-text-clr: #{$text-clr};
        }
    }

}
