dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;

<<<<<<< HEAD
  dl,
  ol,
  ul {
    font-size: 1.4rem;
    margin-left: 2rem;
=======
  li > dl,
  li > ol,
  &: > ul {
    font-size: 1.4rem;
    margin-left: 1rem;
>>>>>>> 4d3422fa73349ebb27793cd2d0e318e8f1fb9905
  }
}

ol {
  list-style: decimal inside;
}

ul {
<<<<<<< HEAD
  list-style: disc inside;
}

address {
  margin-left: 2rem;
=======
  list-style: circle inside;
>>>>>>> 4d3422fa73349ebb27793cd2d0e318e8f1fb9905
}
