dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;

  li > dl,
  li > ol,
  &: > ul {
    font-size: 1.4rem;
    margin-left: 1rem;
  }
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}
