@mixin transition($for: all, $time-in: 100ms, $type: ease-in-out, $time-out: 0s) {
    transition: $for $time-in $type $time-out;
    -moz-transition: $for $time-in $type $time-out;
    -webkit-transition: $for $time-in $type $time-out;
    -o-transition: $for $time-in $type $time-out;
}

@mixin rounded($radius: 0.5em) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin b-rad($radius: .2) {
    border-radius: calc(#{$radius} * var(--spacing-base));
}

@mixin btn-reset {
    display: inline-block;
    text-align: center;
    line-height: var(--lh-base);
    font-size: var(--fs-base);
    padding: padding(.2) padding(1);
    color: var(--btn-text-clr, var(--clr-black));
    background-color: var(--btn-bg-clr, transparent);
    text-decoration: none;
    @include transition;
    @include b-rad;
}

@mixin btn($type: 'default') {
    @include btn-reset();
    @if $type == "rounded" {
        @include rounded(5rem);
    }
    @else if $type == 'fluid' {
        display: block;
        max-width: 100%;
    }
}