*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size:  clamp(12px,calc(.8rem + .25vw),20px); //sets rem, here 1rem = 10px
  // clamp(12px,.8rem + .25vw,20px)
}

body {
  color: var(--clr-black);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.6;
}
