h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight:    var(--fw-bold);
  font-size:      var(--heading-fs, var(--fs-base));
  line-height:    var(--heading-lh, var(--lh-base));
  letter-spacing: var(--heading-ls, -.1rem);
  margin-block: var(--heading-mt, 1.6rem) var(--heading-mb, 0);
}

h1 {
--heading-fs: calc(2.5 * var(--fs-base));
--heading-lh: 1.2;
}
h2 {
  --heading-fs: calc(2.25 * var(--fs-base));
  --heading-lh: 1.25;
}
h3 {
  --heading-fs: calc(2 * var(--fs-base));
  --heading-lh: 1.3;
}
h4 {
  --heading-fs: calc(1.75 * var(--fs-base));
  --heading-lh: 1.35;
}
h5 {
  --heading-fs: calc(1.5 * var(--fs-base));
  --heading-lh: 1.4;
}
h6 {
  --heading-fs: calc(1 * var(--fs-base));
  --heading-lh: 1.4;
}

p {
  margin-block: 0 margin(1);
}

blockquote {
  margin-inline:  margin(2) margin(2);
  margin-block: 0 margin(1);
  padding: padding(1) padding(2);
  border-width: .3rem;
  border-right: 0;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      var(--clr-primary), 
      var(--clr-secondary)
    ) 1 100%;

  *:last-child{
    margin-bottom: 0;
  }
  p { margin: 0;}
}

b, strong {
  font-weight: var(--fw-bold);
}