$fs-html: 62.5%;

$scale-rem: 1.6;
$unit-base: #{$scale-rem} * 1rem;


$body-font: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$mono-font: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

$breakpoints : (
    sm : 0,
    md : 76.8rem,
    lg : 120rem,
);

$font-weights: (
    normal: 400,
    bold:   600,
    bolder: 800,
    light:  300,
    lighter:100,
);


$theme-colors : (
    primary:    #13B140,
    secondary:  #13677E,
    black:      #263222,
    white:      #fffffb,
    gray:       #BABDBB,
);