:root {
  --clr-primary: #13b140;
  --clr-secondary: #13677e;
  --clr-white: #ffffff;
  --clr-background: #f9f9f9;
  --clr-black: #2c2b2c;
  --clr-gray: #797779;
  --clr-gray-light: #e5e7eb;
  --clr-gray-lighter: #f3f4f6;
  --box-shadow-regular: 0px 4px 5px rgba(0, 0, 0, 0.03);
  --box-shadow-icons: 0px 2px 4px rgba(0, 0, 0, 0.05);
  --box-shadow-icons-hover: 0px 5px 5px rgba(0, 0, 0, 0.05);
  --radius: 1rem;
  --border: 1px solid #dedede;
  --gap: 1rem;
}
