dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  overflow-wrap: break-word;
}
  dl,
  ol,
  ul,
  dd {
    // font-size: 1.4rem;
    margin-left: 2rem;
  }


ol {
  list-style: decimal inside;
}

ul {
  list-style: disc inside;
}

address {
  margin-left: 2rem;
}

dl > dt {
  font-weight: bold;
}
