code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: inherit;
  // white-space: nowrap;
  background: var(--clr-black);
  color: var(--clr-white);
}
pre > code {
  word-wrap: break-word;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
  overflow: auto;
}

blockquote {
  color: var(--clr-primary);
  padding: 1.5rem;
  border-width: 0.3rem;
  border-right: 0;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      var(--clr-primary),
      var(--clr-secondary)
    )
    1 100%;

  *:last-child {
    margin-bottom: 0;
  }
  p {
    margin: 0 0 0.5rem;
  }
  cite {
    color: var(--clr-secondary);
  }
  cite::before {
    content: "- ";
  }
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid var(--clr-gray);
}
