/**
Related Posts
*/

.related-posts {
  @include gridCardFit;
  .card {
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow-regular);
    position: relative;
    .card-category {
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;

      a {
        display: inline-block;
        margin: 0.2rem 0.3rem 0;
        padding: 0.25em 0.4em;
        font-size: 75%;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
        border: 0.2px solid var(--clr-primary);
        background-color: var(--clr-gray-lighter);
        text-decoration: none;
        &:hover {
          color: var(--clr-white);
          background-color: var(--clr-primary);
        }
      }
    }

    > :not(:last-child) {
      margin-bottom: 1rem;
    }

    &-body,
    &-footer {
      padding: 0 var(--gap);
    }

    &-body {
      .card-meta {
        .card-author-avatar {
          overflow: hidden;
          max-width: 2.8rem;
          img {
            object-fit: cover;
          }
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
      }
    }
    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
