/**
Post Navigation
*/

.post-navigation {
  @include every;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .previous-post {
      border-right: 1px solid var(--clr-gray-lighter);
    }
    .previous-post,
    .next-post {
      padding: var(--gap) 0;
      width: 50%;
      span {
        display: block;
        color: var(--clr-black);
        font-weight: bold;
      }
      span:nth-child(1) {
        margin-bottom: 1rem;
        color: var(--clr-gray-light);
      }
    }
    .next-post {
      text-align: right;
    }
  }
}
