/**
Post Navigation
*/

.post-navigation {
  @include every;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &::before {
      position: absolute;
      width: 1px;
      left: 50%;
      transform: translate(-50%, -20%);
      top: 25%;
      height: 70%;
      background-color: var(--clr-gray-light);
      opacity: 0.25;
      content: "";
    }

    .previous-post,
    .next-post {
      padding: var(--gap) 0;
      width: 50%;
      span {
        display: block;
        color: var(--clr-black);
        font-weight: bold;
      }
      span:nth-child(1) {
        margin-bottom: 1rem;
        color: var(--clr-gray-light);
        &:hover {
          text-decoration: none;
        }
      }
    }
    .next-post {
      text-align: right;
    }
  }
}
