/**
Author box
*/

.author-info {
  @include every;

  .author-avatar-meta {
    display: flex;
    align-items: center;
    gap: var(--gap);
    margin-bottom: 1rem;
  }
  .author-avatar {
    width: 6.5rem;
    height: 6.5rem;
    align-self: center;
    text-align: center;
    img {
      @include rounded;
    }
  }

  .author-info-desc {
    margin-bottom: 1rem;
  }

  .author-info-social {
    display: flex;
    padding-bottom: 1rem;
    a {
      @include socilIcon;
    }
  }
}
