/* 
 categories
*/

.widget_categories,
.widget_archive {
  padding: 0 !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h5 {
    padding: 1rem 1rem 0;
  }
  ul,
  li {
    list-style: none;
  }
  li {
    border-bottom: 1px solid var(--clr-gray-light);
    padding: var(--gap);

    a {
      text-decoration: none;
    }

    &:hover {
      background-color: var(--clr-gray-light);

      a {
        color: var(--clr-primary);
      }
    }
    &:last-child:hover {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
}

// all widget desing must reorder
// must check all widgets css
