// aside common styles

aside {
  .widget {
    margin-bottom: 2rem;
    padding: 1rem;
    background: var(--clr-background);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow-regular);
  }
}
@import "20-aside-search";

@import "21-aside-categories";
