
@media (min-width: 800px) {
  .breadcrumb {
    background-color: var(--clr-white);
    height: 8rem;
    display: grid;
    align-items: center;
    justify-content: center;
  
    a {
      display: inline-block;
      text-decoration: none;
      color: var(--clr-secondary);
  
      &::after {
        content: "/";
        display: inline-block;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        color: var(--clr-black);
        cursor: text;
      }
    }
    span.current {
      color: var(--clr-back);
      cursor: not-allowed;
    }
  }
  
}