/**
<div id="author-info">

    <h2 class="screen-reader-text">
        About the Author    
    </h2>

    <div id="author-avatar">
        <img alt="" src="http://2.gravatar.com/avatar/b01038ff5791d490581f962563f4e236?s=100&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/b01038ff5791d490581f962563f4e236?s=200&amp;d=mm&amp;r=g 2x" class="avatar avatar-100 photo" height="100" width="100" loading="lazy">    
    </div><!-- # avatar -->

    <div id="author-content">
        <!-- author name and url -->
        <h3>
            <a href="http://localhost/wordpress" target="_blank">admin</a>
        </h3>
        
        <!-- author posts in the website -->
        <a href="http://localhost/wordpress/author/admin/">
            1 post        </a>

        <!-- author description -->
        <p>I'm the admin, deal with it bitch</p>      
    </div><!-- # author-content -->


</div>

*/

#author-info {
    width: 100%;
    background: var(--clr-primary);
    color: var(--clr-white);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#author-avatar {
    grid-column: 1;
}
#author-content {
    grid-column: 2;
    a {color: var(--clr-white);}
}