$blue:    #00649f;
$orange:  #ff7e67;
$green:   #01889b;
$teal:    #97ecc5;
$cyan:    #01aac1;
$white:   #f8f9fa;
$black:   #4a4a4a;
//$yellow:  #ffc107;
//$indigo:  #6610f2;
//$purple:  #6f42c1;
//$pink:    #d63384;
//$red:     #dc3545;

$primary: $green;
$secondary:$blue;
$danger: $orange;
$info: $cyan;
$success: $teal;

a {
    color: $black;
    &:hover { color: $danger;}
}
