.breadcrumb {
    min-width:          var(--breadcrumb-width);
    min-height:         var(--breadcrumb-height);
    background-color:   var(--breadcrumb-bg);
    display:            grid;
    align-items:        var(--breadcrumb-align-vert);
    justify-content:    var(--breadcrumb-align-hori);

    a {
        display: inline-block;
        --base-td-link: none;
        --base-fw-link: var(--core-fw-regular);
        --base-fst-link: normal;

        &::after {
            content: '/';
            display: inline-block;
            margin-left: var(--breadcrumb-link-after-m-l);
            margin-right: var(--breadcrumb-link-after-m-r);
            color  : var(--breadcrumb-link-after-clr);
            cursor: text;
        }
    }
    span.current {
        color: var(--breadcrumb-span-current-clr);
        cursor: not-allowed;
    }
}