/*
* breakpoints
==============================================
*/
$mobile         : 0px; //We are mobile first, so it starts from 0
$tab            : 546px;
$laptop         : 768px;
$desktop        : 960px;
$large-screen   : 1200px;


$gap-column: 0;
$gap-row: 0;

/*
* Colors
* @link: https://color.adobe.com/create/color-wheel
==============================================
*/
$primary    : #16cca1;
$secondary  : #3ed78e;
$contrast   : #EBBA84;
$black      : #4a4a4a;
$white      : #fdfeff;

$primary-dark: darken($primary, 10%);
$secondary-dark: darken($secondary, 10%);


/*
* Fonts
==============================================
*/

// at some point of time I need to import it locally
$web-font-url: 'https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap'; 

@import url($web-font-url);

//Set rem
html {
    font-size: 62.5%;
}

$font-family : 'Nunito Sans', sans-serif;

$font-size  : 1rem;
$font-small : $font-size * .9;
$font-large : $font-size * 1.1;
$font-xl    : $font-size * 1.2;